#Build results
bin/
obj/
Debug/
test-results/
TestResult.xml
sdk/Silanis.ESL.SDK/packages/*


#user-specific files
*.userprefs
*.usertasks
*.user
*.suo
*/*/signers.properties
*/*/*/signers.properties

#zip file
*.zip

#Mac
.DS_Store
